.about {
  padding: var(--spacing-extra-large) 0 50px 0;
  margin-bottom: 100px;
  &__inner {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }

  &__title {
    font-size: var(--size-medium);
    color: var(--primary);
    margin-bottom: var(--spacing-small);
  }

  &__text {
    color: var(--primary);
    max-width: 600px;

    p {
      display: flex;
      margin: 0;
      margin-bottom: var(--spacing-small);
    }
  }

  &__icon {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    fill: var(--orange);
    margin-right: var(--spacing-small);
  }
}

@media (max-width: 1145px) {
  .about {
    &__inner {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__descr {
      margin-bottom: var(--spacing-extra-large);
    }
  }
}

@include small-tablet {
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@include mobile {
  .about {
    padding-bottom: 0;
  }
}
