.about {
  padding: var(--spacing-extra-large) 0 50px 0;
  background-color: var(--button1-fg-color);
  -webkit-clip-path: polygon(0% 0%, 100% 3%, 100% 50%, 100% 87%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 3%, 100% 50%, 100% 87%, 0% 100%);
  margin-bottom: 100px;
  &__inner {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: var(--size-medium);
    color: var(--primary);
    margin-bottom: var(--spacing-small);
  }

  &__text {
    color: var(--light-color);
    max-width: 600px;

    p {
      display: flex;
      margin: 0;
      margin-bottom: var(--spacing-small);
    }
  }

  &__icon {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    fill: var(--primary);
    margin-right: var(--spacing-small);
  }

  &__img {
    img {
      border-radius: 50px;
      box-shadow: var(--box-shadow);
    }
  }
}

@media (max-width: 1145px) {
  .about {
    padding: 50px 0px 100px 0px;
    &__inner {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__descr {
      margin-bottom: var(--spacing-extra-large);
    }
  }
}

@include mobile {
  .about {
    padding-bottom: 130px;
  }
}
