.benefits {
  padding: 0px 50px 50px;
  margin-bottom: 100px;
  &__subtitle {
    font-weight: normal;
    text-align: center;
    color: var(--primary);
    margin-bottom: var(--spacing-large);
  }

  &__columns {
    display: flex;
  }

  &__column {
    display: flex;
    flex: 1 1 33.3333%;
    padding: 0 -20px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    height: 250px;
    margin: 0 10px;
    position: relative;
    background-color: var(--light-color);
    padding: var(--spacing-large);
    border-radius: 15px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    border-left: 3px solid var(--orange);
  }

  &__item-title {
    text-align: center;
    color: var(--primary);
    margin-top: var(--spacing-extra-large);
  }

  &__item-text {
    color: var(--primary);
    overflow: auto;
  }
}

.benefits-icon {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 100px;
  height: 100px;
  fill: var(--orange);
  opacity: 0.3;
  transform: rotate(45deg);
}

@media (max-width: 1000px) {
  .benefits {
    &__columns {
      flex-wrap: wrap;
    }

    &__column {
      flex: 0 1 50%;
      margin-bottom: var(--spacing-extra-large);
    }
  }
}

@include mobile {
  .benefits {
    margin-bottom: 50px;
    &__item {
      height: 250px;
    }
  }
}

@media (max-width: 580px) {
  .benefits {
    padding: 0px;
    &__column {
      flex: 0 1 100%;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
