.confidence {
  padding: 50px 50px 0 50px;
  margin-bottom: 100px;
  &__item {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    background-color: var(--light-color);
    padding: 50px;
  }
  &__title {
    color: var(--primary);
    line-height: 1.4;
    margin-bottom: var(--spacing-large);
  }

  &__btn {
    display: inline-block;
  }
}

@include small-tablet {
  .confidence {
    padding: 20px 20px 0 20px;

    &__item {
      padding: 20px;
    }
  }
}

@include mobile {
  .confidence {
    margin-bottom: 50px;
    &__title {
      font-size: 20px;
    }
  }
}
