.hero {
  height: 100vh;
  padding-top: 200px;
  margin-bottom: 100px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 1;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.459)),
      url("../img/bg-containers.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    color: var(--primary);
    max-width: 650px;
  }

  &__title {
    margin-bottom: var(--spacing-large);
    padding-bottom: var(--spacing-large);
    font-size: var(--size-big);
    color: var(--light-color);
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 170px;
      height: 3px;
      background-color: var(--light-color);
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: var(--spacing-extra-large);
    color: var(--light-color);
    font-weight: normal;
  }

  &__benefits-title {
    color: var(--light-color);
    font-size: 30px;
    font-weight: normal;
    padding-left: 40px;
    position: relative;
    &:not(:last-child) {
      margin-bottom: 50px;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 30px;
      background-color: var(--orange);
      border-radius: 50%;
    }
    &::before {
      content: "";
      position: absolute;
      top: 60%;
      left: 3.5%;
      width: 2px;
      height: 100%;
      background-color: var(--orange);
      padding-bottom: 100px;
    }

    &:last-child::before {
      display: none;
    }
  }

  &__benefits-subtitle {
    color: var(--light-color);
    padding-left: 40px;
    font-weight: normal;
  }
}

.scroll-mouse {
  display: block;
  width: 30px;
  height: 50px;
  border: 2px solid var(--orange);
  border-radius: 50px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.scroll-mouse::after,
.scroll-mouse::before {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 10px;
  width: 10px;
  border: 2px solid var(--orange);
  -webkit-transform: translate(-50%, -100%) rotate(45deg);
  -moz-transform: translate(-50%, -100%) rotate(45deg);
  -ms-transform: translate(-50%, -100%) rotate(45deg);
  -o-transform: translate(-50%, -100%) rotate(45deg);
  transform: translate(-50%, -100%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;

  animation: scrollDown 1.5s infinite;
}

.scroll-mouse::after {
  top: 20%;
  animation-delay: 0.4s;
}

@keyframes scrollDown {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    top: 80%;
  }
}

@include tablet {
  .hero {
    &__container {
      flex-wrap: wrap;
      flex-direction: column;
    }
    &__text {
      max-width: 100%;
      justify-content: center;
      margin-bottom: 30px;
    }

    &__btn {
      width: 100%;
      margin-top: 100px;
    }
    &__benefits-title {
      &:not(:last-child) {
        margin-bottom: 10px;
      }

      &::before {
        padding-bottom: 50px;
      }
    }
  }
}

@include mobile {
  .hero {
    padding-top: 100px;
    margin-bottom: 50px;
    &__container {
      justify-content: center;
    }
    &__title {
      font-size: 21px;
    }

    &__benefits-title {
      font-size: 17px;
      &::after {
        width: 20px;
        height: 20px;
      }
      &::before {
        left: 3%;
      }
    }
  }

  .scroll-mouse {
    bottom: 90px;
  }
}
