.hero {
  height: 750px;
  padding-top: 200px;
  margin-bottom: 100px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4)), url("../img/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    color: var(--primary);
    max-width: 650px;
  }

  &__title {
    margin-bottom: var(--spacing-large);
    padding-bottom: var(--spacing-large);
    font-size: 53px;
    color: var(--light-color);
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 170px;
      height: 3px;
      background-color: var(--light-color);
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: var(--spacing-extra-large);
    color: var(--light-color);
    font-weight: normal;
  }

  &__btn {
    margin-bottom: 50px;
  }

  &__chinese-titles {
    margin-bottom: 80px;
  }

  &__benefits-item {
    position: relative;
    &:not(:last-child) {
      margin-bottom: 50px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 43px;
      left: 13px;
      width: 3px;
      height: 73px;
      background-color: var(--orange);
    }

    &:last-child::before {
      display: none;
    }
  }

  &__benefits-title {
    color: var(--light-color);
    font-size: 30px;
    font-weight: normal;
    padding-left: 40px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 30px;
      border: 5px solid var(--orange);
      border-radius: 50%;
    }
  }

  &__benefits-subtitle {
    color: var(--light-color);
    padding-left: 40px;
    font-weight: normal;
  }
}

.chinese__title {
  color: var(--light-color);
  &:first-child {
    font-size: 25px;
  }
  &:last-child {
    font-size: 14px;
  }
}

@include tablet {
  .hero {
    &__row {
      flex-wrap: wrap;
      flex-direction: column;
      align-items: flex-start;
    }
    &__text {
      max-width: 100%;
      justify-content: center;
      margin-bottom: 30px;
    }
    &__benefits-item {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
      &::before {
        height: 33px;
      }
    }
  }

  .hero__benefits {
    margin-bottom: 50px;
  }
  .hero__benefits-title {
    color: var(--light-color);
  }

  .hero__benefits-subtitle {
    color: var(--light-color);
  }
}

@media (min-width: 1024) {
  .hero {
    height: 750px;
  }
}

@media (max-width: 1024px) {
  .hero {
    height: 1000px;
  }
}

@include small-tablet {
  .hero {
    height: 600px;
    margin-bottom: 50px;
    &__row {
      align-items: flex-start;
      flex: 1 0 auto;
    }

    &__container {
      display: flex;
      flex-direction: column;
      min-height: 100%;
    }

    &__text {
      margin-bottom: 0;
    }
    &__title {
      font-size: 21px;
    }
    &__subtitle {
      font-size: 15px;
    }
    &__btn {
      width: 100%;
      margin-bottom: 100px;
    }
    &__benefits {
      margin-bottom: 50px;
    }
    &__benefits-item {
      &::before {
        height: 30px;
        top: -12px;
        left: 8px;
      }

      &:last-child::before {
        display: block;
      }

      &:first-child::before {
        display: none;
      }
    }

    &__benefits-title {
      font-size: 17px;
      color: var(--orange);
      &::after {
        width: 20px;
        height: 20px;
      }
    }

    &__benefits-subtitle {
      color: var(--primary);
    }

    &__chinese-titles {
      margin-bottom: 50px;
      flex: 0 0 auto;
    }
  }

  .chinese__title {
    &:first-child {
      font-size: 18px;
    }
    &:last-child {
      font-size: 13px;
    }
  }
}

@media (max-width: 340px) {
  .hero__benefits-item {
    &:first-child::before {
      top: 50px;
    }
  }
}
