.modal-success {
  &__container {
    max-width: 500px;
    height: 120px;
    border: 1px solid var(--orange);
    box-shadow: var(--box-shadow);
    position: relative;
  }

  &__btn {
    outline: none;
  }

  &__close {
    fill: var(--orange);
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
  }

  &__title {
    text-align: center;
    padding-top: var(--spacing-extra-large);
    font-size: 21px;
    color: var(--orange);
  }
}
