.peculiarity {

		&__inner {
      display: flex;
      justify-content: space-between;
		}

		&__items {
		}

		&__items-title {
		}

		&__item {
		}

		&__title {
		}

		&__descr {
		}

		&__text {
		}
}

.peculiarity-icon {
  width: 40px;
  height: 40px;
}
