.price {
  margin-bottom: 100px;
  &__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.calc__title {
  font-weight: normal;
  font-size: 22px;
  margin-bottom: var(--spacing-extra-large);
}

.calc__result {
  font-size: var(--size-big);
  color: var(--orange);
  font-weight: 700;
  display: block;
  margin-bottom: var(--spacing-extra-large);
}

.calc__btn {
  width: 250px;
}

@include small-tablet {
  .price__inner {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  .price__calc {
    margin-bottom: var(--spacing-extra-large);
  }
}

@include mobile {
  .price {
    margin-bottom: 50px;
  }
}

.choices__list .choices__list--dropdown {
  &::after {
    border-color: var(--orange);
  }
}
