.prove {
  margin-bottom: 100px;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    text-align: center;
    color: var(--orange);
    font-weight: bold;
    font-size: 33px;
    margin-right: 50px;
  }

  &__btn {
    width: 300px;
  }
}

@include small-tablet {
  .prove__inner {
    flex-wrap: wrap;
  }
  .prove__title {
    margin-bottom: 30px;
    margin-right: 0;
  }
}
