.scroll-btn {
  display: none;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 3;
  justify-content: center;
  align-items: center;
  transition-duration: 0.2s;
  transition-timing-function: ease ease-in-out;
  transition-property: background-color, color;
  .icon-scroll {
    width: 50px;
    height: 50px;
    fill: var(--orange);
  }
}

@include mobile {
  .scroll-btn {
    right: 15px;
    bottom: 15px;
  }
}

//animation
.btnEntrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
}

/* fadeInUp */
@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.btnExit {
  animation-duration: 0.25s;
  animation-fill-mode: both;
  animation-name: btnExit;
}

/* fadeOutDown */
@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}
