<div class="about">
  <div class="container about__container">
    <h2 class="title-light">О нас</h2>
    <div class="about__inner">
      <div class="about__descr">
        <h3 class="about__title">SINOTEC AUDIT & ADVISORY TEAM</h3>
        <div class="about__text">
          <p>
            <svg class="about__icon">
              <use xlink:href="img/sprite.svg#ok"></use>
            </svg>
            Мы работаем с импортерами, оптовиками и розничными торговцами,
            стартапами, бренд-менеджерами и отделами закупок со всего мира,
            чтобы повысить безопасность продуктов и цепочки поставок.
          </p>
          <p>
            <svg class="about__icon">
              <use xlink:href="img/sprite.svg#ok"></use>
            </svg>
            На основе Ваших требований и спецификаций, мы разрабатываем
            индивидуальные решения и планы обслуживания. Для каждой отдельной
            службы контроля качества, мы разрабатываем конкретную рабочую
            инструкцию, соответствующую продукту и вашим требованиям.
          </p>
          <p>
            <svg class="about__icon">
              <use xlink:href="img/sprite.svg#ok"></use>
            </svg>
            Гибкие инструменты бронирования и связи, быстрые действия,
            современные онлайн-инструменты, оптимальное соотношение цены и
            качества делают привлекательным наш сервис для всех этапов и уровней
            бизнеса.
          </p>
        </div>
      </div>

      <div class="about__img">
        <picture>
          <source srcset="img/about.avif" type="image/avif" />
          <source srcset="img/about.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/about.jpg"
            class="image"
            width="500"
            height="300"
            alt="about-img"
          />
        </picture>
      </div>
    </div>
  </div>
</div>
