<div class="about about-scroll scroll-down">
  <div class="container about__container">
    <h2 class="title">О нас</h2>
    <div class="about__inner">
      <div class="about__descr">
        <h3 class="about__title">SINOTEC AUDIT & ADVISORY TEAM</h3>
        <div class="about__text">
          <p>
            <svg class="about__icon">
              <use xlink:href="img/sprite.svg#ok"></use>
            </svg>
            Мы работаем с импортерами, оптовиками и розничными торговцами,
            стартапами, бренд-менеджерами и отделами закупок со всего мира,
            чтобы повысить безопасность продуктов и цепочки поставок.
          </p>
          <p>
            <svg class="about__icon">
              <use xlink:href="img/sprite.svg#ok"></use>
            </svg>
            На основе Ваших требований и спецификаций, мы разрабатываем
            индивидуальные решения и планы обслуживания. Для каждой отдельной
            службы контроля качества, мы разрабатываем конкретную рабочую
            инструкцию, соответствующую продукту и вашим требованиям.
          </p>
          <p>
            <svg class="about__icon">
              <use xlink:href="img/sprite.svg#ok"></use>
            </svg>
            Гибкие инструменты бронирования и связи, быстрые действия,
            современные онлайн-инструменты, оптимальное соотношение цены и
            качества делают привлекательным наш сервис для всех этапов и уровней
            бизнеса.
          </p>
        </div>
      </div>

      <div class="about__img">
        <picture>
          <source srcset="img/about.avif" type="image/avif" />
          <source srcset="img/about.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/about.jpg"
            class="image"
            width="500"
            height="300"
            alt="about-img"
          />
        </picture>
      </div>
    </div>

    <div class="about__inner about__reverse">
      <div class="about__img">
        <picture>
          <source srcset="img/about3.avif" type="image/avif" />
          <source srcset="img/about3.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/about3.jpg"
            class="image"
            width="500"
            height="300"
            alt="about-img"
          />
        </picture>
      </div>
      <div class="about__descr">
        <h3 class="about__title">
          Решение любых проблем с товаром во время инспекции
        </h3>
        <div class="about__text">
          <p>
            <svg class="about__icon">
              <use xlink:href="img/sprite.svg#ok"></use>
            </svg>
            Вы получите детальную информацию в режиме реального времени и
            сможете лично оценить качество продукции.
          </p>
          <p>
            <svg class="about__icon">
              <use xlink:href="img/sprite.svg#ok"></use>
            </svg>
            По вашему желанию инспектор сделает фотографии товара с любого
            ракурса и выяснит у поставщика всю интересующую информацию.
          </p>

          <p>
            <svg class="about__icon">
              <use xlink:href="img/sprite.svg#ok"></use>
            </svg>
            Изделия с какими-либо дефектами заменяются на месте.
          </p>
          <p>
            <svg class="about__icon">
              <use xlink:href="img/sprite.svg#ok"></use>
            </svg>
            Наши специалисты не только обнаружат дефекты, но и выяснят причины
            их появления.
          </p>

          <p>
            <svg class="about__icon">
              <use xlink:href="img/sprite.svg#ok"></use>
            </svg>
            Представитель фабрики находится на связи в ходе всей проверки и
            ответит на любые вопросы касательно товара и технологии
            производства.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
