<section class="price__act">
  <div class="container price__act-container">
    <div class="price__act-inner">
      <span class="price__act-summ">$ 21.99 *</span>
      <h3 class="price__act-descr">
        ЗА ЭТИ ДЕНЬГИ ВЫ МОЖЕТЕ ЗАКАЗАТЬ ПРОВЕРКУ КАЧЕСТВА ТОВАРА ИЛИ АУДИТ
        ФАБРИКИ
      </h3>
      <button
        class="price__act-btn btn-reset btn__primary"
        data-goto=".contacts"
      >
        Узнать подробнее
      </button>
      <p class="price__act-text">
        *стоимость 1 часа работы инспектора без учета дополнительных расходов
      </p>
    </div>
    <div class="price__act-img">
      <picture>
        <source srcset="img/check.avif" type="image/avif" />
        <source srcset="img/check.webp" type="image/webp" />
        <img
          loading="lazy"
          src="img/check.png"
          class="image"
          width="600"
          height="500"
          alt="check-img"
        />
      </picture>
    </div>
  </div>
</section>
