<section class="benefits benefits-scroll">
  <div class="min-container">
    <h2 class="title">Ваши бенефиты</h2>
    <h3 class="benefits__subtitle">
      Наши специалисты проведут экспертизу, основанную на практическом опыте и
      профессиональных знаниях.
    </h3>

    <div class="benefits__columns">
      <div class="benefits__column">
        <div class="benefits__item">
          <svg class="benefits-icon">
            <use xlink:href="img/sprite.svg#letter"></use>
          </svg>
          <h4 class="benefits__item-title">6 видов инспекции</h4>
          <p class="benefits__item-text">
            Любой вид аудита или инспекции в зависимости от потребностей Клиента
            и особенностей товара, подберем с учетом общих затрат и стоимости
            товара.
          </p>
        </div>
      </div>
      <div class="benefits__column">
        <div class="benefits__item">
          <svg class="benefits-icon">
            <use xlink:href="img/sprite.svg#money"></use>
          </svg>
          <h4 class="benefits__item-title">
            Конкурентная цена и гибкий подход
          </h4>
          <p class="benefits__item-text">
            Мы учитываем уникальность каждой компании и особенности товаров,
            поэтому предлагаем индивидуальный подход и программу лояльности.
          </p>
        </div>
      </div>
      <div class="benefits__column">
        <div class="benefits__item">
          <svg class="benefits-icon">
            <use xlink:href="img/sprite.svg#world"></use>
          </svg>
          <h4 class="benefits__item-title">Широкий сервисный охват</h4>
          <p class="benefits__item-text">
            Наши опытные эксперты имеют доступ в 330 городов и в более чем 4000
            индустриальных зон в Китае.
          </p>
        </div>
      </div>
      <div class="benefits__column">
        <div class="benefits__item">
          <svg class="benefits-icon">
            <use xlink:href="img/sprite.svg#solution"></use>
          </svg>
          <h4 class="benefits__item-title">Кейсы решений</h4>
          <p class="benefits__item-text">
            В нашем арсенале Клиент найдет cargo доставку образцов, фото и видео
            съемку товара для каталога, интересные варианты для маркетплейсов,
            поиск товаров с заданной ценой.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
