<section class="confidence">
  <div class="container confidence__container">
    <h3 class="confidence__title">
      ВЕДИТЕ БИЗНЕС С КИТАЙСКИМИ ПОСТАВЩИКАМИ УВЕРЕННО И БЕЗ РИСКА!
    </h3>
    <div class="confidence__content">
      <div class="confidence__img confidence__img-map">
        <picture>
          <source srcset="img/map.avif" type="image/avif" />
          <source srcset="img/map.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/map.png"
            class="image"
            width="550"
            height="300"
            alt="Success"
          />
        </picture>
      </div>
      <div class="confidence__img confidence__img-succ">
        <picture>
          <source srcset="img/buss.avif" type="image/avif" />
          <source srcset="img/buss.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/buss.png"
            class="image"
            width="250"
            height="250"
            alt="Success"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
