<div class="contacts contacts-scroll">
  <div class="min-container">
    <h2 class="title">Контакты</h2>
    <div class="contacts__inner">
      <div class="contacts__info">
        <div class="contacts__info-item adress">
          <svg class="contacts__info-icon">
            <use xlink:href="img/sprite.svg#map"></use>
          </svg>
          <div class="adress__text">
            <p>
              Координационный офис: A. H. Tammsaare tee 47, Tallinn, Estonia
            </p>
            <p>
              Операционный офис: China, Shanghai, Huangpu, Huaihai Rd (M), 333
            </p>
            <p>
              Исполнительный офис: No 9819 Shenzhen Boulevard, Shenzhen,
              Guangdong, China
            </p>
          </div>
        </div>
        <div class="contacts__info-item phone">
          <svg class="contacts__info-icon">
            <use xlink:href="img/sprite.svg#phone"></use>
          </svg>
          <div class="phone__link">
            <a href="tel:37254356000">+372 54356000</a>
            <p class="phone__social">Viber, Telegram, WhatsApp</p>
          </div>
        </div>
        <div class="contacts__info-item mail">
          <svg class="contacts__info-icon">
            <use xlink:href="img/sprite.svg#email"></use>
          </svg>
          <a href="mailto:info@sinotec.team" class="mail__adress"
            >info@sinotec.team</a
          >
        </div>
      </div>
      <div class="contacts__form">
        <form action="#" class="form">
          <label class="form__label">
            <input
              type="text"
              name="Имя"
              class="input-reset form__input form__input-name"
              placeholder="Ваше Имя"
            />
          </label>
          <label class="form__label">
            <input
              type="text"
              name="E-mail"
              class="input-reset form__input form__input-email"
              placeholder="Ваш E-mail"
            />
          </label>
          <label class="form__label">
            <textarea
              type="text"
              name="Сообщение"
              class="input-reset form__input form__input-textarea"
              placeholder="Введите сообщение"
            ></textarea>
          </label>
          <button class="btn__primary btn-reset form__btn">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</div>
