<section class="contacts contacts-scroll">
  <div class="min-container">
    <h2 class="title">Контакты</h2>
    <div class="contacts__inner">
      <div class="contacts__info">
        <div class="contacts__info-item adress">
          <svg class="contacts__info-icon">
            <use xlink:href="img/sprite.svg#map"></use>
          </svg>
          <div class="adress__text">
            <p>
              Координационный офис: A. H. Tammsaare tee 47, Tallinn, Estonia
            </p>
            <p>
              Операционный офис: China, Shanghai, Huangpu, Huaihai Rd (M), 333
            </p>
            <p>
              Исполнительный офис: No 9819 Shenzhen Boulevard, Shenzhen,
              Guangdong, China
            </p>
          </div>
        </div>
        <div class="contacts__info-item phone">
          <svg class="contacts__info-icon">
            <use xlink:href="img/sprite.svg#phone"></use>
          </svg>
          <div class="phone__links">
            <a class="phone__links-phone" href="tel:37254356000"
              >+372 54356000</a
            >
            <a
              class="phone__links-link"
              href="viber://chat?number=%2B37254356000"
            >
              <img
                loading="lazy"
                src="img/viber.svg"
                class="image"
                alt="viber"
              />
            </a>
            <a
              href="https://t.me/SINOTEC_AUDIT_ADVISORY_TEAM"
              class="phone__links-link"
            >
              <img
                loading="lazy"
                src="img/telegram.svg"
                class="image"
                alt="telegram"
              />
            </a>
            <a href="https://wa.me/37254356000" class="phone__links-link">
              <img
                loading="lazy"
                src="img/whatsapp.svg"
                class="image"
                alt="whatsapp"
              />
            </a>
          </div>
        </div>
        <div class="contacts__info-item mail">
          <svg class="contacts__info-icon">
            <use xlink:href="img/sprite.svg#email"></use>
          </svg>
          <a href="mailto:info@sinotec.team" class="mail__adress"
            >info@sinotec.team</a
          >
        </div>
      </div>
      <div class="contacts__form">
        <form action="#" class="cont-form form">
          <label class="form__label">
            <input
              type="text"
              name="Имя"
              class="input-reset form__input form__input-name"
              placeholder="Ваше Имя"
            />
          </label>
          <label class="form__label">
            <input
              type="text"
              name="E-mail"
              class="input-reset form__input form__input-email contacts-validate-email"
              placeholder="Ваш E-mail"
            />
          </label>
          <label class="form__label">
            <textarea
              name="Сообщение"
              class="input-reset form__input form__input-textarea"
              placeholder="Введите сообщение"
            ></textarea>
          </label>
          <button class="btn__primary btn-reset form__btn">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</section>
