<div class="founders">
  <div class="container">
    <h2 class="title">Основатели компании</h2>
    <div class="swiper founders__swiper">
      <div class="swiper-wrapper founders__wrapper">
        <div class="swiper-slide founders__slide">
          <picture>
            <source srcset="img/osn1.avif" type="image/avif" />
            <source srcset="img/osn1.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/osn1.jpg"
              class="founders__img image"
              alt="slide"
            />
          </picture>
          <h3 class="founders__name">Antony Woon</h3>
          <p class="founders__descr">
            Инженер, конструктор и профессиональный менеджер, который
            осуществляет управление сотрудниками и контролирует процессы
            компании
          </p>
          <h4 class="founders__adress">Operations Director, Шанхай</h4>
        </div>
        <div class="swiper-slide founders__slide">
          <picture>
            <source srcset="img/osn2.avif" type="image/avif" />
            <source srcset="img/osn2.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/osn2.jpg"
              class="founders__img image"
              alt="slide"
            />
          </picture>
          <h3 class="founders__name">Linda Zhang</h3>
          <p class="founders__descr">
            Идейный вдохновитель и создатель компании, финансист по образованию,
            способный организовать и структурировать международный бизнес
          </p>
          <h4 class="founders__adress">CEO, Сингапур</h4>
        </div>

        <div class="swiper-slide founders__slide">
          <picture>
            <source srcset="img/osn3.avif" type="image/avif" />
            <source srcset="img/osn3.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/osn1.jpg"
              class="founders__img image"
              alt="slide"
            />
          </picture>
          <h3 class="founders__name">Marcus Koppelis</h3>
          <p class="founders__descr">
            Выпускник интернационального университета Technische Universität
            München, который выполняет функцию координации заказчиков и
            аудиторов
          </p>
          <h4 class="founders__adress">Region Coordinator, Таллинн</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="swiper reviews">
  <div class="swiper-wrapper reviews__wrapper">
    <div class="swiper-slide reviews__slide">
      <div class="reviews__item">
        <p class="reviews__text" lng-review1>
          "Все сделано быстро и отлично! Однозначно рекомендую Виталия как
          отличного исполнителя!"
        </p>
        <h4 class="reviews__author" lng-reviewAuthor1>Роман Довгаль</h4>
      </div>
    </div>

    <div class="swiper-slide reviews__slide">
      <div class="reviews__item">
        <p class="reviews__text" lng-review2>
          "Работа была выполнена хорошо, приятно иметь дело с таким
          специалистом!"
        </p>
        <h4 class="reviews__author" lng-reviewAuthor2>Максим Журавлев</h4>
      </div>
    </div>

    <div class="swiper-slide reviews__slide">
      <div class="reviews__item">
        <p class="reviews__text" lng-review3>
          "Всегда на связи, если есть какие то моменты - всегда предупреждает
          заранее. Работу выполнил хорошо."
        </p>
        <h4 class="reviews__author" lng-reviewAuthor3>Павел Арнутов</h4>
      </div>
    </div>

    <div class="swiper-slide reviews__slide">
      <div class="reviews__item">
        <p class="reviews__text" lng-review4>
          "Обратился к Виталию с проектом на SCSS. Проект был согласован и
          выполнен очень быстро (а это очень важно когда сроки поджимают).
          Качеством доволен, код был написан грамотно и структурированно.
          Рекомендую."
        </p>
        <h4 class="reviews__author" lng-reviewAuthor4>Мурат Ташенев</h4>
      </div>
    </div>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>-->
