<section class="guide">
  <div class="min-container">
    <h2 class="guide__title">Получите гайд бесплатно прямо сейчас!</h2>
    <div class="guide__inner">
      <p class="guide__text">
        Мы дарим Вам инструкцию по выбору инспекции, с которой Вы улучшите
        качество товаров и увеличите прибыль!
      </p>
      <form action="#" class="guide-form form">
        <label class="form__label">
          <input
            type="text"
            name="E-mail"
            class="input-reset form__input form__input-email guide-validate-email"
            placeholder="Ваш E-mail"
          />
        </label>
        <button class="btn__primary btn-reset form__btn">Отправить</button>
      </form>
    </div>
  </div>
</section>
