<header class="header">
  <div class="container header__container">
    <div class="logo">
      <a href="#" class="logo__title">SINOTEC AUDIT & ADVISORY TEAM</a>
    </div>
    <nav class="nav" title="nav" data-menu>
      <ul class="nav__list list-reset">
        <li class="nav__item">
          <a
            href="#"
            class="nav__link nav__link--active"
            data-goto=".hero-scroll"
            data-menu-item
            >Главная</a
          >
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link" data-goto=".about-scroll" data-menu-item
            >О нас</a
          >
        </li>
        <li class="nav__item">
          <a
            href="#"
            class="nav__link"
            data-goto=".benefits-scroll"
            data-menu-item
            >Преимущества</a
          >
        </li>
        <li class="nav__item">
          <a
            href="#"
            class="nav__link"
            data-goto=".services-scroll"
            data-menu-item
            >Сервисы</a
          >
        </li>
        <li class="nav__item">
          <a
            href="#"
            class="nav__link"
            data-goto=".peculiarity-scroll"
            data-menu-item
            >Направления</a
          >
        </li>
        <li class="nav__item">
          <a
            href="#"
            class="nav__link"
            data-goto=".results-scroll"
            data-menu-item
            >Результат</a
          >
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link" data-menu-item>Цена</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link" data-menu-item>Контакты</a>
        </li>
      </ul>
    </nav>

    <button
      class="burger"
      aria-label="Открыть меню"
      aria-expanded="false"
      data-burger
    >
      <span class="burger__line"></span>
    </button>
  </div>
</header>
