<div class="hero">
  <div class="container hero__container">
    <div class="hero__text">
      <h1 class="hero__title">РЕШАЕМ ПРОБЛЕМЫ КАЧЕСТВА ТОВАРОВ ИЗ КИТАЯ</h1>
      <h3 class="hero__subtitle">
        Бизнес - решения для управления рисками при импорте из Китая
      </h3>
      <button class="hero__btn btn btn-reset">Оставьте заявку</button>
    </div>

    <div class="hero__img">
      <picture>
        <source srcset="img/hero-img.avif" type="image/avif" />
        <source srcset="img/hero-img.webp" type="image/webp" />
        <img
          loading="lazy"
          src="img/hero-img.jpg"
          class="image"
          width="500"
          height="500"
          alt=""
        />
      </picture>
    </div>
  </div>

  <a href="" class="scroll-mouse"></a>
</div>
