<div class="hero hero-scroll">
  <div class="container hero__container">
    <div class="hero__text">
      <h1
        class="hero__title"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-once="true"
      >
        РЕШАЕМ ПРОБЛЕМЫ КАЧЕСТВА ТОВАРОВ ИЗ КИТАЯ
      </h1>
      <h3
        class="hero__subtitle"
        data-aos="fade-up"
        data-aos-duration="1500"
        data-aos-once="true"
      >
        Бизнес - решения для управления рисками при импорте из Китая
      </h3>
      <button
        class="hero__btn btn__primary btn btn-reset"
        data-da=".hero__container,1024,last"
      >
        Оставьте заявку
      </button>
    </div>

    <div class="hero__benefits">
      <h5 class="hero__benefits-subtitle">
        Приходиться делать скидки из-за брака?
      </h5>
      <h4 class="hero__benefits-title">Увеличим прибыль</h4>
      <h5 class="hero__benefits-subtitle">Клиенты жалуются на качество?</h5>
      <h4 class="hero__benefits-title">Повысим качество</h4>
      <h5 class="hero__benefits-subtitle">Теряете лояльность клиентов?</h5>
      <h4 class="hero__benefits-title">Восстановим репутацию</h4>
    </div>
  </div>

  <!--<a href="#" class="scroll-mouse" data-goto=".scroll-down"></a>-->
</div>
