<div class="graph-modal modal-success">
  <div
    class="graph-modal__container modal-success__container"
    role="dialog"
    aria-modal="true"
    data-graph-target="modal-succes"
  >
    <button
      class="modal-success__btn btn-reset graph-modal__close"
      aria-label="Закрыть модальное окно"
    >
      <svg class="modal-success__close">
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="graph-modal__content modal-success__content">
      <h3 class="modal-success__title">Спасибо! Скоро мы с вами свяжемся!</h3>
    </div>
  </div>
</div>
