<div class="peculiarity peculiarity-scroll">
  <div class="min-container">
    <h2 class="title">Направления</h2>
    <div class="peculiarity__inner">
      <div class="peculiarity__items">
        <h4 class="peculiarity__items-title">Quality control teams</h4>
        <div class="peculiarity__item-wrapper">
          <div class="peculiarity__item">
            <svg class="peculiarity-icon">
              <use xlink:href="img/sprite.svg#appliances"></use>
            </svg>
            <h4 class="peculiarity__title">Бытовая техника</h4>
          </div>
          <div class="peculiarity__item">
            <svg class="peculiarity-icon">
              <use xlink:href="img/sprite.svg#car"></use>
            </svg>
            <h4 class="peculiarity__title">Автомобильные запчасти</h4>
          </div>
          <div class="peculiarity__item">
            <svg class="peculiarity-icon">
              <use xlink:href="img/sprite.svg#materials"></use>
            </svg>
            <h4 class="peculiarity__title">Строительные материалы</h4>
          </div>
          <div class="peculiarity__item">
            <svg class="peculiarity-icon">
              <use xlink:href="img/sprite.svg#clothes"></use>
            </svg>
            <h4 class="peculiarity__title">Текстильные изделия</h4>
          </div>
          <div class="peculiarity__item">
            <svg class="peculiarity-icon">
              <use xlink:href="img/sprite.svg#cup"></use>
            </svg>
            <h4 class="peculiarity__title">Потребительские изделия</h4>
          </div>
          <div class="peculiarity__item">
            <svg class="peculiarity-icon">
              <use xlink:href="img/sprite.svg#industry"></use>
            </svg>
            <h4 class="peculiarity__title">Сырье и компоненты</h4>
          </div>
        </div>

        <div class="peculiarity__descr">
          <h4 class="peculiarity__items-title">Уникальный оффер для Вас</h4>
          <div class="peculiarity__descr-inner">
            <div class="peculiarity__text">
              <p>
                – проведение инспекции или аудита в режиме Live. Режим Live —
                это on-line трансляция с места событий: будь то инспекция
                товара, или аудит фабрики, мы даем возможность Клиенту
                полноценно «включиться» в процесс и реагировать в режиме стрима
                «вопрос-ответ».
              </p>
              <p>
                – инспекция предприятия или компании с целью подтверждения
                мировым стандартам Ecological and Social Standards. Вы узнаете
                есть ли в компании социальные гарантии для работников, степень
                квалификации и уровень оплаты труда, спонсорское содействие.
                Важный показатель – оказывает ли предприятие воздействие на
                окружающую природу, какое сырье использует и насколько
                заботиться об имидже green safety company!
              </p>
            </div>

            <picture>
              <source srcset="img/peculiarity.avif" type="image/avif" />
              <source srcset="img/peculiarity.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/peculiarity.png"
                class="image peculiarity-img"
                width="600"
                height="500"
                alt="peculiarity-img"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
