<div class="price price-scroll">
  <div class="min-container">
    <h2 class="title">Цена</h2>
    <div class="price__inner"></div>
    <div class="price__inner">
      <div class="price__img">
        <picture>
          <source srcset="img/calc.avif" type="image/avif" />
          <source srcset="img/calc.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/calc.png"
            class="image"
            width="600"
            height="500"
            alt="calc-img"
          />
        </picture>
      </div>
      <div class="price__calc calc">
        <h4 class="calc__title">Калькулятор стоимости инспекции</h4>
        <select class="calc__select" name="calc">
          <option value="City">Выберите город</option>
          <option value="Shenzhen">Shenzhen</option>
          <option value="Guangzhou">Guangzhou</option>
          <option value="Dongguan">Dongguan</option>
          <option value="Shantou">Shantou</option>
          <option value="Yiwu">Yiwu</option>
          <option value="YongKang">YongKang</option>
          <option value="Jinhua">Jinhua</option>
          <option value="Taizhou">Taizhou</option>
          <option value="Ningbo">Ningbo</option>
          <option value="Fuzhou">Fuzhou</option>
          <option value="Longyan">Longyan</option>
          <option value="Xiamen">Xiamen</option>
          <option value="Quanzhou">Quanzhou</option>
          <option value="Nanping">Nanping</option>
          <option value="Sanming">Sanming</option>
          <option value="Wuwei">Wuwei</option>
          <option value="Yumen">Yumen</option>
          <option value="Jiangmen">Jiangmen</option>
          <option value="Maoming">Maoming</option>
          <option value="Shantou">Shantou</option>
          <option value="Zhongshan">Zhongshan</option>
          <option value="Guilin">Guilin</option>
          <option value="Wuzhou">Wuzhou</option>
          <option value="Anshun">Anshun</option>
          <option value="Jixi">Jixi</option>
          <option value="Hulan">Hulan</option>
          <option value="Xuchang">Xuchang</option>
          <option value="Wuhan">Wuhan</option>
          <option value="Hanyang">Hanyang</option>
          <option value="Hankou">Hankou</option>
          <option value="Huangshi">Huangshi</option>
          <option value="Suzhou">Suzhou</option>
          <option value="Jilin">Jilin</option>
          <option value="Fushun">Fushun</option>
          <option value="Benxi">Benxi</option>
          <option value="Linzi">Linzi</option>
          <option value="Zibo">Zibo</option>
          <option value="Chengdu">Chengdu</option>
          <option value="Hangzhou">Hangzhou</option>
        </select>
        <h4 class="calc__title">Стоимость инспекции:</h4>
        <span class="calc__result"></span>
        <button
          class="calc__btn btn__primary btn btn-reset"
          data-goto=".contacts"
        >
          Заказать
        </button>
      </div>
    </div>
  </div>
</div>
