<div class="services services-scroll">
  <div class="container">
    <h2 class="title">Сервисы</h2>
    <div class="accordion">
      <div class="accordion__items">
        <div class="accordion__item">
          <div class="accordion__header">
            <div class="accordion__header-title">
              <h3>FACTORY AUDIT PROCESS (FAP)</h3>
            </div>

            <svg class="accordion__header-icon">
              <use xlink:href="img/sprite.svg#faq"></use>
            </svg>
          </div>
          <div class="accordion__body">
            <div class="accordion__inner-content">
              <table class="accordion__table">
                <tr>
                  <th></th>
                </tr>

                <tr>
                  <td class="accordion__body-text">
                    Оценка технологического оснащения, производственного уровня,
                    мощности, автоматизации, количество циклов и системы
                    менеджмента фабрики, завода, компании.
                  </td>
                  <td class="accordion__body-price">199$</td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <div class="accordion__item">
          <div class="accordion__header">
            <div class="accordion__header-title">
              <h3>PRE-SHIPMENT INSPECTION (PSI)</h3>
            </div>

            <svg class="accordion__header-icon">
              <use xlink:href="img/sprite.svg#faq"></use>
            </svg>
          </div>
          <div class="accordion__body">
            <div class="accordion__inner-content">
              <table class="accordion__table">
                <tr>
                  <th></th>
                </tr>

                <tr>
                  <td class="accordion__body-text">
                    Проверка качества готовой продукции на складе поставщика
                    перед отгрузкой, с возможностью выявления недочетов и их
                    устранения.
                  </td>
                  <td class="accordion__body-price">199$</td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <div class="accordion__item">
          <div class="accordion__header">
            <div class="accordion__header-title">
              <h3>DURING PRODUCTION INSPECTION (DPI)</h3>
            </div>

            <svg class="accordion__header-icon">
              <use xlink:href="img/sprite.svg#faq"></use>
            </svg>
          </div>
          <div class="accordion__body">
            <div class="accordion__inner-content">
              <table class="accordion__table">
                <tr>
                  <th></th>
                </tr>

                <tr>
                  <td class="accordion__body-text">
                    Инспектирование технологического процесса, а также участие
                    специалиста в процессе производства с целью минимизации
                    погрешностей и отбраковки на финальном этапе. Возможен
                    контроль поставляемых компонентов и сырья.
                  </td>
                  <td class="accordion__body-price">179$</td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <div class="accordion__item">
          <div class="accordion__header">
            <div class="accordion__header-title">
              <h3>LOADING SUPERVISION CONTROL (LSC)</h3>
            </div>

            <svg class="accordion__header-icon">
              <use xlink:href="img/sprite.svg#faq"></use>
            </svg>
          </div>
          <div class="accordion__body">
            <div class="accordion__inner-content">
              <table class="accordion__table">
                <tr>
                  <th></th>
                </tr>

                <tr>
                  <td class="accordion__body-text">
                    Контроль упаковки, маркировки, загрузки и отправки товара, а
                    также, количества товара, пересортицы и особых требований к
                    товаросопроводительным документам, с соблюдением базовых или
                    специальных требований заказчика, минимизацией повреждений
                    при загрузке. Проверка минимальной выборки на сличение с
                    товаром в инвойсе.
                  </td>
                  <td class="accordion__body-price">199$</td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <div class="accordion__item">
          <div class="accordion__header">
            <div class="accordion__header-title">
              <h3>FINAL RANDOM INSPECTION (FRI)</h3>
            </div>

            <svg class="accordion__header-icon">
              <use xlink:href="img/sprite.svg#faq"></use>
            </svg>
          </div>
          <div class="accordion__body">
            <div class="accordion__inner-content">
              <table class="accordion__table">
                <tr>
                  <th></th>
                </tr>

                <tr>
                  <td class="accordion__body-text">
                    Дополнительная проверка с целью удостоверится, что были
                    исправлены или заменены товары с несогласованным качеством и
                    выявленные при первой проверке некачественные товары.
                  </td>
                  <td class="accordion__body-price">199$</td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <div class="accordion__item">
          <div class="accordion__header">
            <div class="accordion__header-title">
              <h3>КЕЙСЫ</h3>
            </div>

            <svg class="accordion__header-icon">
              <use xlink:href="img/sprite.svg#faq"></use>
            </svg>
          </div>
          <div class="accordion__body">
            <div class="accordion__inner-content">
              <table class="accordion__table">
                <tr>
                  <th></th>
                </tr>

                <tr>
                  <td class="accordion__body-text">
                    Поиск товара или поставщика по заданным критериям (не
                    Alibaba) Фото-видео поддержка для каталогов Cargo доставка
                    образцов Готовые офферы для маркетплейсов Консалтинг для
                    оптимизации условий на стадии пред-заказа Экспедирование
                    сложных, не типовых грузов *Стоимость рассчитывается по
                    запросу
                  </td>
                  <td class="accordion__body-price"></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
